<h1>Welcome {{ user.email }} to user management</h1>
<script>
    function getUsers(){
        req = new XMLHttpRequest();
        req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            populateUsers(this.responseText);
            }
        };
        req.open('GET' , '/user/manage' , true)
        req.send()
        }
    function showUsers(){
        
    }
</script>
<button onclick="getUsers()">Show registered users</button>
<div id="users">
    
</div>