<style> h1{display: inline-block}</style>
<h1>Sign In</h1><h1></h1><a href="../register/">Sign Up</a></h1>

<form action="" method="post">
    {%csrf_token%}
    <span>Email Address </span> <input type="text" name="email" id="email" {% if form.email.value %} value="{{ form.email.value  }}" {% endif %}>
    {% if form.email.value %}<p>{{ form.email.errors }}</p>{% endif %}
    <br>
    <span>Password</span> <input type="password" name="password" id="password" {% if form.password.value %} value="{{ form.password.value  }}" {% endif %}>
    {% if form.email.value %}<p>{{ form.password.errors }}</p>{% endif %}
    <br>
    <input type="submit" value="Sign up"><input type="reset" value="Reset">
</form>
