<h1>Sign up </h1>

<form action="" method="post">
    {%csrf_token%}
    <span>Email Address </span> <input type="text" name="email" id="email" {% if form.email.value %} value="{{ form.email.value  }}" {% endif %}>
    {% if form.email.errors %}<p>{{ form.email.errors }}</p>{% endif %}
    <br>
    <span>Password</span> <input type="password" name="password" id="password" {% if form.email.value %} value="{{ form.password.value  }}" {% endif %}>
    {% if form.password.errors %}<p>{{ form.password.errors }}</p>{% endif %} 
    <br>
    <input type="submit" value="Sign In"><input type="reset" value="Reset">
</form>
